<nav class="nav-bar">
  <ul fxLayout fxLayoutGap="50px" class="navigation-items">
    <li>
      <a routerLink="/problems" style="cursor: pointer"
        ><mat-icon style="font-size: small">description</mat-icon>
        Description</a
      >
    </li>
    <li>
      <a routerLink="/solution" style="cursor: pointer"
        ><mat-icon style="font-size: small; color: rgb(204, 167, 102)">
          lock</mat-icon
        >
        Solution
        <mat-icon style="font-size: small">play_circle_outline</mat-icon></a
      >
    </li>
    <li>
      <a routerLink="/discuss" style="cursor: pointer"
        ><mat-icon style="font-size: small">question_answer</mat-icon>
        Discuss</a
      >
    </li>
    <li>
      <a routerLink="/submissions" style="cursor: pointer"
        ><mat-icon style="font-size: small">query_builder</mat-icon>
        Submissions</a
      >
    </li>
  </ul>
</nav>
<div class="table-info">
  <div class="mat-table-info">
    <mat-table [dataSource]="dataSource">
      <!-- Time Submitted Column class="mat-elevation-z8"-->
      <ng-container matColumnDef="submittedTime">
        <mat-header-cell *matHeaderCellDef>Time Submitted</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.submittedTime | date: "medium"
        }}</mat-cell>
      </ng-container>
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.status }}</mat-cell>
      </ng-container>
      <!-- Runtime Column -->
      <ng-container matColumnDef="runtime">
        <mat-header-cell *matHeaderCellDef> Runtime </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.runtime }}</mat-cell>
      </ng-container>
      <!-- Memory Column -->
      <ng-container matColumnDef="memory">
        <mat-header-cell *matHeaderCellDef> Memory </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.memory }}</mat-cell>
      </ng-container>
      <!-- Language Column -->
      <ng-container matColumnDef="language">
        <mat-header-cell *matHeaderCellDef> Language </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.language }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
    </mat-table>
  </div>
</div>
<footer class="footer-problems" fxLayout fxHide.lt-sm>
  <div fxFlex>
    <button mat-raised-button style="color: gray">
      <mat-icon>list</mat-icon> Problems
    </button>
  </div>
  <div fxFlex="180px"></div>
  <div fxFlexAlign="flex-end">
    <button mat-raised-button style="color: gray">
      <mat-icon>shuffle</mat-icon> Pick One
    </button>
    <button mat-button disabled>Prev</button>
    <button mat-button>1/2077</button>
    <button mat-button>Next</button>
  </div>
</footer>
