<mat-nav-list>
  <div class="reg">
    <a (click)="onClose()"><span>Register</span></a>
    <span>|</span>
    <a (click)="onClose()"><span>Sign in</span></a>
  </div>
</mat-nav-list>
<hr />
<mat-nav-list>
  <a mat-list-item (click)="onClose()">Explore</a>
  <a mat-list-item routerLink="" (click)="onClose()">Problems</a>
  <a mat-list-item (click)="onClose()">Contest</a>
  <a mat-list-item (click)="onClose()">Discuss</a>
  <a mat-list-item (click)="onClose()">Interview</a>
  <a mat-list-item (click)="onClose()">Store</a>
</mat-nav-list>
