<mat-toolbar>
  <div fxFlex fxLayout>
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <a>
        <button mat-icon-button><mat-icon>opacity</mat-icon></button>
      </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-start" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li><a style="cursor: pointer">Explore</a></li>
        <li><a routerLink="">Problems</a></li>
        <li><a style="cursor: pointer">Contest</a></li>
        <li><a style="cursor: pointer">Discuss</a></li>
        <li>
          <a style="cursor: pointer"
            >Interview <span><mat-icon>keyboard_arrow_down</mat-icon></span></a
          >
        </li>
        <li>
          <a style="color: orange; cursor: pointer"
            >Store <span><mat-icon>keyboard_arrow_down</mat-icon></span>
          </a>
        </li>
      </ul>
    </div>
    <div fxLayouy fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li><a style="color: orange; cursor: pointer">Premium</a></li>
        <li>
          <a style="cursor: pointer"><mat-icon>addchart</mat-icon></a>
        </li>
        <li><a style="cursor: pointer">Register</a></li>
        <span style="color: darkgray">or</span>
        <li><a style="cursor: pointer">Sign in</a></li>
      </ul>
    </div>
  </div>
</mat-toolbar>
