<mat-toolbar>
  <div fxFlex fxLayout>
    <div></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-start" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li class="logo-img">
          <a>
            <!-- <img
              src="https://leetcode.com/_next/static/images/logo-ff2b712834cf26bf50a5de58ee27bcef.png"
              alt="logo"
              style="width: 18px; height: 23px"
            /> -->
            <button mat-icon-button><mat-icon>opacity</mat-icon></button>
          </a>
        </li>
        <li><a>Explore</a></li>
        <li><a>Problems</a></li>
        <li><a>Contest</a></li>
        <li><a>Discuss</a></li>
        <li>
          <a
            >Interview <span><mat-icon>keyboard_arrow_down</mat-icon></span></a
          >
        </li>
        <li>
          <a style="color: orange"
            >Store <span><mat-icon>keyboard_arrow_down</mat-icon></span>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li><a style="color: orange">Premium</a></li>
        <li>
          <a><mat-icon>addchart</mat-icon></a>
        </li>
        <li><a>Register</a></li>
        <span style="color: darkgray">or</span>
        <li><a>Sign in</a></li>
      </ul>
    </div>
  </div>
</mat-toolbar>
