html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: gray;
  font-size: 14px;
}
strong {
  font-weight: 500;
}

.container {
  min-height: 100%;
  position: relative;
}

.navigation-items {
  list-style: none;
  margin: 0;
  padding: 10px 0 10px 0;
}
.problem-details {
  overflow-y: scroll;
  height: 500px;
}
.icon {
  font-size: 17px;
}

mat-card-title {
  font-size: 20px;
}
mat-card-subtitle {
  font-size: 12px;
}

.problem-details-footer,
.problem-details-footer p {
  color: gray;
  text-align: left;
  font-size: 12px;
}
.problem-details-footer p {
  color: rgba(0, 0, 0, 0.7);
}
mat-panel-title {
  color: gray;
  font-size: 13px;
}
mat-panel-title:hover {
  color: rgba(0, 0, 0, 0.9);
}
.example-card {
  max-width: 95%;
}

.footer-problems {
  position: fixed;
  left: 0;
  bottom: 0;
  color: gray;
  padding: 10px;
}

@media (max-width: 600px) {
  .problem-details {
    height: 100%;
  }
}
