<div class="editor-top" fxLayout fxLayout fxHide.lt-sm>
  <mat-form-field>
    <mat-select value="C++">
      <mat-option *ngFor="let language of languages" [value]="language">
        {{ language }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button fxLayoutGap="200px">Autocomplete</button>

  <button mat-icon-button><mat-icon> format_italic</mat-icon></button>
  <button mat-icon-button><mat-icon>code</mat-icon></button>
  <button mat-icon-button><mat-icon>replay</mat-icon></button>
  <button mat-icon-button><mat-icon>settings</mat-icon></button>
  <button mat-icon-button><mat-icon>fullscreen</mat-icon></button>
</div>

<div
  class="editor-top-sm"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxShow.lt-sm
  fxHide.gt-sm
>
  <div>
    <mat-form-field>
      <mat-select value="C++">
        <mat-option *ngFor="let language of languages" [value]="language">
          {{ language }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-icon-button><mat-icon>description</mat-icon></button>
    <button mat-icon-button><mat-icon>replay</mat-icon></button>
    <button mat-icon-button><mat-icon>settings</mat-icon></button>
  </div>
</div>

<div>
  <textarea
    matInput
    class="editor"
    value="class Solution {
    public:
        vector<int> twoSum(vector<int>& nums, int target) {
            
        }
    };"
  ></textarea>
</div>
<footer class="footer-editor" fxLayout fxHide.lt-sm>
  <div fxFlex>
    <button mat-button>Console <mat-icon>arrow_drop_down</mat-icon></button>
    <button mat-button>Contribute <i>i</i></button>
  </div>
  <div fxFlex="180px"></div>
  <div fxFlexAlign="flex-end">
    <button mat-raised-button style="color: gray">
      <mat-icon>arrow_right</mat-icon> Run Code
      <mat-icon style="font-size: 20px">expand_less</mat-icon>
    </button>
    <button mat-raised-button style="background-color: #455a64; color: white">
      Submit
    </button>
  </div>
</footer>
<footer fxLayout="row" fxLayoutAlign="end center" fxShow.gt-sm fxHide.gt-sm>
  <div class="submit-button">
    <button mat-raised-button style="background-color: #455a64; color: white">
      Submit
    </button>
  </div>
</footer>
