a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue;
}

.filter {
  width: 100%;
  padding: 10px 0 0 75px;
}

.filter-box {
  max-width: 100px;
  align-items: flex-start;
}

.table-info {
  padding: 10px 75px 10px 75px;
}

mat-table {
  overflow-x: scroll;
  min-width: 650px;
}
