a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue;
}

.filter {
  padding: 10px 0 0 75px;
}

.filter-box {
  max-width: 100px;
  box-sizing: border-box;
}

.table-info {
  padding: 10px 75px 10px 75px;
}

mat-table {
  overflow-x: auto;
  min-width: 650px;
}
