a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue;
}

.filter {
  width: 100%;
  padding: 10px 0 0 125px;
}

.filter-box {
  max-width: 100px;
  box-sizing: border-box;
}

.table-info {
  width: 900px;
  padding: 10px 75px 10px 100px;
}

@media (max-width: 600px) {
  body {
    margin: 0;
  }
  .filter {
    padding: 10px 0 0 30px;
  }
  mat-table {
    min-width: 700px;
  }
  .table-info {
    width: 100%;
    padding: 0 0 0 5px;
  }
  .mat-table-info {
    overflow-x: scroll;
    max-width: 450px;
  }
  .filter-box {
    max-width: 150px;
  }
}
