<nav class="nav-bar">
  <ul fxLayout fxLayoutGap="50px" class="navigation-items">
    <li>
      <a routerLink="/problems" style="cursor: pointer"
        ><mat-icon style="font-size: small">description</mat-icon>
        Description</a
      >
    </li>
    <li>
      <a routerLink="/solution" style="cursor: pointer"
        ><mat-icon style="font-size: small; color: rgb(204, 167, 102)">
          lock</mat-icon
        >
        Solution
        <mat-icon style="font-size: small">play_circle_outline</mat-icon></a
      >
    </li>
    <li>
      <a routerLink="discuss" style="cursor: pointer"
        ><mat-icon style="font-size: small">question_answer</mat-icon>
        Discuss</a
      >
    </li>
    <li>
      <a routerLink="/submissions" style="cursor: pointer"
        ><mat-icon style="font-size: small">query_builder</mat-icon>
        Submissions</a
      >
    </li>
  </ul>
</nav>
<div class="discuss" fxLayout="row">
  <div class="discuss-details">
    <div class="discuss-title">
      <div>
        <h2>1. Two Sum</h2>
      </div>
      <div xLayout="row" fxLayoutAlign="space-between center">
        <div>
          <button mat-button>Hot</button>
          <button mat-button>Newest to Oldest</button>
          <button mat-button>Most Votes</button>
        </div>
        <div>
          <mat-form-field style="min-width: 150px" floatLabel="never">
            <input
              matInput
              type="text"
              (keyup)="doFilter($event)"
              placeholder="Search topic or comments..."
            />
          </mat-form-field>
          <button
            style="background-color: #455a64; color: white; margin-left: 10px"
            mat-raised-button
          >
            New +
          </button>
        </div>
      </div>
    </div>
    <div class="table-info">
      <div class="mat-table-info">
        <mat-table [dataSource]="dataSource" matSort>
          <!-- Title Column class="mat-elevation-z8"-->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div fxFlexLayout="column">
                <div>
                  <h3>
                    <a style="cursor: pointer; color: rgb(68, 66, 63)">{{
                      element.title
                    }}</a>
                  </h3>
                </div>
                <div>
                  <p style="color: gray">by {{ element.userName }}</p>
                </div>
              </div>
            </mat-cell>
          </ng-container>
          <!-- Vote Column -->
          <ng-container matColumnDef="vote">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Vote</mat-header-cell
            >
            <mat-cell *matCellDef="let element">{{ element.vote }}</mat-cell>
          </ng-container>
          <!-- ViewCount Column -->
          <ng-container matColumnDef="viewCount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              View
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element.viewCount
            }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
            mat-row
            *matRowDef="let row; columns: displayedColumns"
          ></mat-row>
        </mat-table>
      </div>
      <mat-paginator
        [pageSize]="4"
        [pageSizeOptions]="[1, 4, 10, 20]"
        class="paginator"
      >
      </mat-paginator>
    </div>
  </div>
  <div class="discuss-tag">
    <div><h1>Tags</h1></div>
    <div>
      <mat-form-field style="min-width: 150px" floatLabel="never">
        <input
          matInput
          type="text"
          (keyup)="doFilter($event)"
          placeholder="Search tag"
        />
      </mat-form-field>
    </div>
    <div>
      <button mat-button>Python 256</button>
      <button mat-button>C++ 500</button>
      <button mat-button>Java 250</button>
      <button mat-button>Two Sum 16</button>
      <button mat-button>easy 7</button>
      <button mat-button>map 5</button>
    </div>
  </div>
</div>
